﻿@model GeeksForLess_Forum.Models.Topic

<h2 align="center">Creating New Topic</h2>
<form method="post" asp-controller="Topic" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text">Text</label>
        <textarea asp-for="Text" class="form-control" placeholder="Your text here" cols="75" rows="3"></textarea>
        <span asp-validation-for="Text"></span>
    </div>
    <button type="submit" class="btn btn-primary">Post</button><br><br>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


