﻿@model (GeeksForLess_Forum.Models.Topic, GeeksForLess_Forum.Models.Comment)

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Item1.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.UserEmail)
            <hr />
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Item1.Text)
        </dd>
    </dl>
    <div class="display-label"><br><b>Comments</b><br></div>
    <hr />
    <dl>
        @foreach (Comment c in Model.Item1.Comments)
        {
        <dt>
            @c.UserEmail @if (c.UserEmail == TempData["UserEmail"].ToString())
            {
                TempData.Keep();
                @Html.ActionLink("Edit", "Edit", "Comment", new { Id = c.Id })
                <span> - </span>
                @Html.ActionLink("Delete", "Remove", "Comment", new { Id = c.Id })
            }
            else
                TempData.Keep();
        </dt>
            <dd>
                @c.Text
            </dd>

            <dd></dd>
        }
    </dl>
</div>

@using (Html.BeginForm("Create", "Comment", FormMethod.Post))
{
    <textarea name="text" placeholder="Your text here" cols="75" rows="3"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Comment</button>
    <br>
}



<p>
    @*<button onclick="location.href='@Url.Action("Create", "Comment")';return false;"
            class="btn btn-primary">
        Leave Opinion
    </button>*@
    @*Html.ActionLink("Leave Opinion", "Create", "Comment")*@
    <br>
    <br>
    @Html.ActionLink("Back to List", "Index")
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
