﻿@model IEnumerable<GeeksForLess_Forum.Models.Topic>

@{
    ViewBag.Title = "Articles";
}

<h2>All Our Articles</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>

                <td>
                    @Html.ActionLink("Read", "Details", new { id = item.Id })
                    @if (item.UserEmail == TempData["UserEmail"].ToString())
                    {
                        TempData.Keep();
                        <span> - </span>
                        @Html.ActionLink("Edit ", "Edit", new { id = item.Id })
                        <span> - </span>
                        @Html.ActionLink("Delete", "Remove", new { id = item.Id })
                    }
                    else
                        TempData.Keep();
                </td>
            </tr>
        }

    </table>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button onclick="location.href='@Url.Action("Create", "Topic")';return false;" class="btn btn-primary">
                    Create New Topic
                </button>
            </div>
        </div>
    </div>
    

