﻿@model GeeksForLess_Forum.Models.Comment

@{
    ViewData["Title"] = "Edit";
    int selectedTopic = (int)TempData["SelectedTopic"];
    TempData.Keep();
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="User" />
            <input type="hidden" asp-for="UserEmail" />
            <input type="hidden" asp-for="Topic" />
            <input type="hidden" asp-for="TopicId" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Topic", "Details", "Topic", new { Id = selectedTopic })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}