﻿@model GeeksForLess_Forum.Models.User

<h2 align="center">Authorization on Forum</h2>
<form method="post" asp-controller="User" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
        <span asp-validation-for="Password"></span>
    </div>
    <button align="center" type="submit" class="btn btn-primary">Submit</button>
</form>